<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
  <head>
    <title>Изучаем Vue.js</title>
    <link rel="stylesheet" href="./style.css" />
    <meta charset="utf-8" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="style">
      <div class="region" v-bind:class="classObj"></div>
      <div class="region"></div>
      <button v-on:click="isActive=!isActive">Toggle color</button>
      <button v-on:click="isBounded=!isBounded">Toggle border</button>
    </div>
    <div id="app">
      <input type="text" v-on:input="setMessage" />
      <p>{{message}}</p>
    </div>
    <hr />
    <div id="api">
      {{ info }}
    </div>
    <hr />
    <div id="object">
      <p>{{name}}</p>
      <p>{{welcome()}}</p>
      <p>Name: {{displayName()}}</p>
      <p>Factorial of 6 is equal to {{factorial(6)}}</p>
    </div>
    <hr />
    <div id="action">
      <button v-on:click="counter++">плюс</button>
      <button v-on:click="if(counter>0) counter--;">минус</button>
      <div>{{counter}}</div>
      <br />
      <button v-on:click="increase(3, $event)">+</button>
      <button v-on:click="decrease(2, $event)">-</button>
      <div>{{counter2}}</div>
    </div>
    <hr />
    <div id="template"></div>
    <hr />
    <div id="link">
      <div v-html="message"></div>
      <div>{{message}}</div>
      <br />
      <a v-bind:href="link">{{text}}</a>
      <p>{{age > 25?'Больше 25 лет':'25 лет или меньше' }}</p>
    </div>
    <hr />
    <div id="twoWayBind">
      <input type="text" v-model="name" />
      <input type="text" v-model="number" />
      <p>
        Name: {{name}}, Факториал числа {{number}} равен {{factorial(number)}}
      </p>
    </div>
    <hr />
    <div id="calculatedProperties">
      <input type="text" v-model="name" />
      <input type="text" v-model="age" />
      <p>Имя: {{name}} Возраст {{age}}</p>
      <p>{{checkAge()}} {{enabled}}</p>
      <hr />
      <input type="text" v-model="firstname" />
      <input type="text" v-model="lastname" />
      <input type="text" v-model="fullname" />
      <p>Имя: {{fullname}}</p>
    </div>
    <hr />
    <script src="./first-app.js"></script>
  </body>
</html>
